<div class="wrapper">
  <div class="custom-card-wrapper">
    <p-card
      header="{{ event?.blockName }}"
      *ngFor="let event of scheduleDataDisplayed"
      class="card"
    >
      <!-- <ng-template pTemplate="header"> -->
      <h1>
        {{ event.league.name }}
      </h1>
      <h2>Status: {{ event.state }}</h2>
      <div class="teams-wrapper">
        <div class="team-wrapper">
          <h3>{{ event.match.teams[0].code }}</h3>
          <img src="{{ event.match.teams[0].image }}" alt="" />
          <h4>{{ event.match.teams[0].result.outcome }}</h4>
          <h4>{{ event.match.teams[0].result.gameWins }}</h4>
        </div>
        <div class="team-wrapper">
          <h3>{{ event.match.teams[1].code }}</h3>
          <img src="{{ event.match.teams[1].image }}" alt="" />
          <h4>{{ event.match.teams[1].result.outcome }}</h4>
          <h4>{{ event.match.teams[1].result.gameWins }}</h4>
        </div>
      </div>
      <!-- </ng-template> -->
    </p-card>
  </div>
  <p-paginator
    [rows]="itemsPerPage"
    [totalRecords]="scheduleData?.data?.schedule?.events?.length || 0"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[8, 16, 24]"
  ></p-paginator>
</div>
