<div class="wrapper">
  <!-- <form style="padding: 1rem">
    <input type="text" [(ngModel)]="filterTeams" placeholder="Search by team" />
  </form> -->
  <div class="custom-card-wrapper">
    <ng-container *ngIf="isLoading">
      <div
        class="spinner-container"
        style="
          grid-column: 1 / -1;
          grid-row: 1;
          text-align: center;
          padding: 11rem;
        "
      >
        <p-progressSpinner
          aria-label="Loading"
          class="custom-spinner"
        ></p-progressSpinner>
      </div>
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <p-card
        header="{{ event?.league?.name }}"
        *ngFor="let event of scheduleDataDisplayed"
        class="card"
      >
        <h1>{{ event?.blockName }}</h1>
        <h2>Status: {{ event?.state }}</h2>

        <p-button
          label="Ir para a partida
            "
          styleClass="p-button-outlined p-button-sm"
          (click)="navigateToMatch(event?.match?.id)"
        ></p-button>

        <div class="teams-wrapper">
          <div class="team-wrapper">
            <h3>{{ event?.match?.teams[0]?.code }}</h3>
            <img
              src="{{ event?.match?.teams[0]?.image }}"
              alt="{{ event?.match?.teams[0]?.code }}"
            />
          </div>
          <div class="team-wrapper">
            <h3>{{ event?.match?.teams[1]?.code }}</h3>
            <img
              src="{{ event?.match?.teams[1]?.image }}"
              alt="{{ event?.match?.teams[1]?.code }}"
            />
          </div>
        </div>
      </p-card>
    </ng-container>
  </div>
  <p-paginator
    [rows]="itemsPerPage"
    [totalRecords]="scheduleData?.length || 0"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[8, 16]"
  ></p-paginator>
</div>
