<div *ngIf="gameWindow">
  <p-table
    [value]="gameWindow.gameMetadata.blueTeamMetadata.participantMetadata"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Summoner Name</th>
        <th>Role</th>
        <th>Level</th>
        <th>Gold</th>
        <th>CreepScore</th>
        <th>Kill</th>
        <th>Death</th>
        <th>Assists</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-participant>
      <tr>
        <td>{{ participant.summonerName }}</td>
        <td>{{ participant.role }}</td>
        <td>Lv{{ gameWindow.frames[9].blueTeam.participants[0].level }}</td>
        <td>{{ gameWindow.frames[9].blueTeam.participants[0].totalGold }}</td>
        <td>{{ gameWindow.frames[9].blueTeam.participants[0].creepScore }}</td>
        <td>{{ gameWindow.frames[9].blueTeam.participants[0].kills }}</td>
        <td>{{ gameWindow.frames[9].blueTeam.participants[0].deaths }}</td>
        <td>{{ gameWindow.frames[9].blueTeam.participants[0].assists }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    [value]="gameWindow.gameMetadata.redTeamMetadata.participantMetadata"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Summoner Name</th>
        <th>Role</th>
        <th>Level</th>
        <th>Gold</th>
        <th>CreepScore</th>
        <th>Kill</th>
        <th>Death</th>
        <th>Assists</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-participant>
      <tr>
        <td>{{ participant?.summonerName }}</td>
        <td>{{ participant?.role }}</td>
        <td>Lv{{ gameWindow.frames[9].redTeam.participants[0].level }}</td>
        <td>
          {{ gameWindow.frames[9].redTeam.participants[0].totalGold }}
        </td>
        <td>
          {{ gameWindow.frames[9].redTeam.participants[0].creepScore }}
        </td>
        {{
          gameWindow.frames[9].redTeam.participants[0].kills
        }}

        <td>
          {{ gameWindow.frames[9].redTeam.participants[0].deaths }}
        </td>
        <td>
          {{ gameWindow.frames[9].redTeam.participants[0].assists }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="!gameWindow">
  <div class="bad-request">
    <img src="../../../assets/badstatus.png" alt="" />
    <h1>Opa!</h1>
    <h2>
      Parece que essa partida ainda não começou ou ocorreu algum erro. Por
      favor, atualize a página ou volte para a página inicial.
    </h2>
    <span> 😔 </span>
  </div>
</div>
