<div *ngIf="gameWindow" class="teste">
  <ng-container *ngIf="isLoading">
    <div
      class="spinner-container"
      style="
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
        padding: 10rem;
      "
    >
      <p-progressSpinner
        aria-label="Loading"
        class="custom-spinner"
      ></p-progressSpinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <div class="InfosWrapper">
      <div class="SideInfos">
        <h1>BlueSide</h1>
        <div class="Info">
          <img src="../../../assets/tower.svg" alt="Torres" />
          <span>
            {{ gameWindow.frames[gameWindow.frames.length - 1].redTeam.towers }}
          </span>
        </div>

        <div class="Info">
          <img src="../../../assets/baron.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam.barons
            }}
          </span>
        </div>

        <div class="Info">
          <img src="../../../assets/kill.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .totalKills
            }}
          </span>
        </div>

        <div class="Info">
          <img src="../../../assets/gold.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam.totalGold
            }}
          </span>
        </div>
        <div class="Info">
          <img src="../../../assets/inhibitor.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .inhibitors
            }}
          </span>
        </div>
      </div>
      <div class="SideInfos">
        <h1>RedSide</h1>
        <div class="Info">
          <img src="../../../assets/tower.svg" alt="" />
          <span>
            {{ gameWindow.frames[gameWindow.frames.length - 1].redTeam.towers }}
          </span>
        </div>
        <div class="Info">
          <img src="../../../assets/baron.svg" alt="" />
          <span>
            {{ gameWindow.frames[gameWindow.frames.length - 1].redTeam.barons }}
          </span>
        </div>
        <div class="Info">
          <img src="../../../assets/kill.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam.totalKills
            }}
          </span>
        </div>
        <div class="Info">
          <img src="../../../assets/gold.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam.totalGold
            }}
          </span>
        </div>
        <div class="Info">
          <img src="../../../assets/inhibitor.svg" alt="" />
          <span>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam.inhibitors
            }}
          </span>
        </div>
      </div>
    </div>

    <p-table
      [value]="gameWindow.gameMetadata.blueTeamMetadata.participantMetadata"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Champion</th>
          <th>Summoner Name</th>
          <th>HP</th>
          <th>Level</th>
          <th>Gold</th>
          <th>CreepScore</th>
          <th>Kill</th>
          <th>Death</th>
          <th>Assists</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-participant let-index="rowIndex">
        <tr>
          <td class="championWrapper">
            <img
              src="{{ CHAMPIONS_URL + participant.championId + '.png' }}"
              alt="{{ participant.championId }}"
            />
            {{ participant.championId }}
          </td>
          <td>{{ participant.summonerName }}</td>

          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].currentHealth
            }}
          </td>

          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].level
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].totalGold
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].creepScore
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].kills
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].deaths
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].blueTeam
                .participants[index].assists
            }}
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-table
      [value]="gameWindow.gameMetadata.redTeamMetadata.participantMetadata"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Champion</th>
          <th>Summoner Name</th>
          <th>HP</th>
          <th>Level</th>
          <th>Gold</th>
          <th>CreepScore</th>
          <th>Kill</th>
          <th>Death</th>
          <th>Assists</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-participant let-index="rowIndex">
        <tr>
          <td class="championWrapper">
            <img
              src="{{ CHAMPIONS_URL + participant.championId + '.png' }}"
              alt="{{ participant.championId }}"
            />
            {{ participant.championId }}
          </td>
          <td>{{ participant.summonerName }}</td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].currentHealth
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].level
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].totalGold
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].creepScore
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].kills
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].deaths
            }}
          </td>
          <td>
            {{
              gameWindow.frames[gameWindow.frames.length - 1].redTeam
                .participants[index].assists
            }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
